<!-- Sidebar -->
<div class="sidebar">
    <div class="sidebar-content">
<!--        &lt;!&ndash; User dropdown &ndash;&gt;-->
<!--        <div class="user-menu dropdown">-->
<!--            <a href="">-->
<!--                <div class="user-info">-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
        <!-- /user dropdown -->


        <!-- Main navigation -->
        <ul class="navigation">
            <li id="home-page"><a href="/"><span>HOME</span><i class="icon-list"></i></a></li>
            <li id="alarm-page"><a href="/alarm"><span>ALARM</span><i class="icon-bubble-notification"></i></a></li>
            <li id="add-page" class="has-ul">
                <a href="#"><span>DEVICE</span><i class="icon-indent-increase"></i></a>
                <ul id="dynamic-sidebar">
                    <li><a href="/add">ADD DEVICE</a></li>
                </ul>
            </li>
            <!--<li id="li-admin-statistical"><a href="/admin/statistic"><span>Thống kê</span> <i class="icon-stats-up"></i></a></li>-->
        </ul>
        <!-- /main navigation -->

    </div>
</div>
<script type="text/javascript" src="/js/core/sidebar.js"></script>
<script type="text/javascript" src="/js/core/socket.io.js"></script>
<script>
    $(function () {

        var socket = io("http://localhost:3000");

        socket.on('alarm', function (data) {
            console.log("alarm:" +data);
            if(data == "1.3.6.1.4.1.22154.3.1.2.5.1.1.0" ||
                data == "1.3.6.1.4.1.22154.3.1.2.5.2.1.0") {
                console.log('loi roi')
                // $(".lobibox-btn-default[data-type|='ok']").click();
                showNoti(3, "An error occurred. Please check the Alarm");
                $(".lobibox-btn-default[data-type|='ok']").click(function(){
                    location.href = '/alarm';
                });
            }
        });

        socket.on('trap', function (data) {
            if(data == "1.3.6.1.4.1.22154.3.1.2.3.2.0") {
                console.log("PTT");
                setTimeout(function(){
                    $('#get-system').click();
                },2000);
            }
        });

        socket.on('ping-error', function (data) {
           var result = data;
           var ip_error = data.ip_address;
            $("#list-device li").each(function (i, item) {
                var ip = $(item).find('.bottom-info').text();
                // $(item).removeClass('bg-danger').addClass('bg-success');
                if(ip == ip_error) {
                    $(item).removeClass('bg-success').addClass('bg-danger');
                    $(item).find('.connect-status').text('PING_ERROR')
                }
            })
        });

        socket.on('ping-ok', function (data) {
            var result = data;
            var ip_ok = data.ip_address;
            $("#list-device li").each(function (i, item) {
                var ip = $(item).find('.bottom-info').text();
                if(ip == ip_ok) {
                    $(item).removeClass('bg-danger').addClass('bg-success');
                    $(item).find('.connect-status').text('PING_OK')
                }
            })
        });
    });

    function showNoti(type, text) {
        if (type == 1) {
            Lobibox.notify('info', {
                size: "mini",
                delay: 3000,
                position: 'bottom right',
                msg: text
            });
        }
        else if (type == 2) {
            Lobibox.notify('warning', {
                size: "mini",
                delay: 3000,
                position: 'bottom right',
                msg: text
            });
        }
        else if (type == 3) {
            Lobibox.alert('error', {
                size: "mini",
                delay: 3000,
                position: 'bottom right',
                msg: text
            });
        }
        else {
            Lobibox.notify('success', {
                size: "mini",
                delay: 3000,
                position: 'bottom right',
                msg: text
            });
        }
    }

</script>

<!-- /sidebar -->